body{
    font-family:'Montserrat', sans-serif;
}
#title{
    background-color: #ff4c68;
    color: white;
    height: 620px;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 5rem;
    line-height: 1.5;
}
.container-fluid{
    padding: 3% 30% 7%;
}
.navbar-brand{
    font-family:"Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
    padding: 15px;
}
.navbar{
    padding-bottom: 2.5rem;
}
.nav-link{
    font-size: 1.3rem;
    font-weight: bold;
    margin-right: 5px;
    color:rgb(214, 209, 209);
}

.download-button{
    margin:5% 3% 5% 0%;
}
.title-image{
    margin-top: 8%;
    width:19% ;
    height: 73%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
   
   
}
p{
    margin-right: 2rem;
    margin-right: 3rem;
}

#features{
    padding:7% 15%;
    background-color: white;
    position:relative;
    z-index: 1;
}
.feature-box{
    text-align: center;
    padding: 5%;
}

p{
    color: gray;
}
.icon{
    color: #ef8172;
}
.icon:hover{
    color:red;
}
#testimonials{
    padding: 7% 15%;
    text-align: center;
    background-color:#ef8172 ;
    color: white;
}

.testimonial-image{
    border-radius: 10rem;
    margin: 20px 0 20px 500px;
 

}
#press{
    background-color:#ef8172 ;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 50px;
}
#pricing{
    padding: 100px;
}
.pricing-col{
    padding: 3% 2%;
    text-align: center;
}
@media (max-width: 1028px){
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
    }
}
#cta{
    background-color:#ff4c68;
    text-align: center;
    color: white;
    padding: 8% 15%;
    line-height: 3rem;
}
.b{
    padding: 5%;
}
#footer{
    text-align: center;
}
.pp{
    padding: 5%;
}