body{
background-color:  #042f4b;
margin: 0;
}

.container{
    text-align: center;
    /* font-size: 3.5rem; */
    width: 70%;
    margin: auto;
    color: rgba(0, 255, 255, 0.534);
    font-family: 'Lobster', cursive;;
}
.dice {
    text-align: center;
    display: inline-block;
    margin: 40px;
}


h1 {
    margin: 30px;
    font-family: "Lobster", cursive;
    text-shadow: 5px 0 #232931;
    font-size: 4.5rem;
    color: #4ecca3;
    text-align: center;
}

p {
    font-size: 2rem;
    color: #4ecca3;
    font-family: "Indie Flower", cursive;
}

img {
    width: 100%;
}

.bottom {
    padding-top: 30px;
}

.butn {
    background: #4ecca3;
    font-family: "Indie Flower", cursive;
    border-radius: 7px;
    color: #ffff;
    font-size: 30px;
    padding: 16px 25px 16px 25px;
    text-decoration: none;
}

.butn:hover {
    background: #232931;
    text-decoration: none;
} 
footer{
    padding-top: 10%;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}